
@{
    ViewBag.Title = "Index";
}

<h2>Login form</h2>
<form action="/LoginWEB/Login">
    <input type="text" name="username" required id="username" />
    <input type="password" name="pass" required id="password" />
    <button type="submit">ok</button>
</form>
